<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.CRM.Accounts.CreateNewAccount"/>
      <class name="com.CRM.Home.VerifyLeadTab"/>
      <class name="com.CRM.Login.verifyLogin"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
